<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.classify.dao.ClassifyDao">

    <!--统计分类id数量-->
    <select id="countClassifyId" parameterType="com.xzsd.pc.classify.entity.ClassifyData" resultType="int">
        select count(classify_id)
        from classify
        where is_delete = 0
        and classify_id = #{classifyId}
    </select>



    <!--新增分类-->
    <insert id="classifyAdd" parameterType="com.xzsd.pc.classify.entity.ClassifyData">
        insert into classify
        (
          classify_id,
           classify_level,
           classify_name,
           parent_id,

          is_delete,
          create_time,
          create_by,
          update_time,
          update_by,
          version
          )
          values
           (
           #{classifyId},
        <if test="oneClassifyId==null or oneClassifyId==''">
            1,
        </if>
        <if test="oneClassifyId!=null and oneClassifyId!=''">
            2,
        </if>
            #{classifyName},
            #{parentId},

            #{isDelete},
            now(),
            #{createBy},
            now(),
            #{updateBy},
            0)


    </insert>



    <!--查询商品分类详情信息-->
    <select id="getClassifyByClassifyId" parameterType="java.lang.String" resultType="com.xzsd.pc.classify.entity.ClassifyData">
        select
            classify_id classifyId,
            classify_level classifyLevel,
            classify_name classifyName,
            parent_id  parentId,
            comment,
            is_delete isDelete,
            create_by createBy,
            update_by updateBy,
            create_time createTime,
            update_time updateTime,
            version

        from classify
        where classify_id = #{classifyId}

    </select>


    <!--修改商品分类   -->
    <update id="classifyUpdate" parameterType="com.xzsd.pc.classify.entity.ClassifyData">
        update classify set
            classify_name = #{classifyName},
            comment = #{comment},
            update_by = #{updateBy},
            update_time = now(),
            version = version + 1
        where version = #{version}
        and classify_id = #{classifyId}
         and is_delete = 0
    </update>

    <!--查询分类列表-->
    <resultMap id="classifyListMap" type="com.xzsd.pc.classify.entity.ClassifyOne">
        <id property=" oneClassifyId" column="one_classify_id" jdbcType="VARCHAR"/>
        <id property=" oneClassifyName" column="one_classify_name" jdbcType="VARCHAR"/>
        <collection property="ifTwoClassifyList" ofType="com.xzsd.pc.classify.entity.ClassifyTwo">
            <id property="twoClassifyId" column="two_classify_id" jdbcType="VARCHAR"/>
            <id property=" twoClassifyName" column="two_classify_name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <select id="classifyListCheck" resultMap="classifyListMap">
        select
           a.classify_id,
           a.classify_name,
           b.classify_id as twoClassifyId,
           b.classify_name as twoClassifyName
           from classify a
           left join
           classify b on
           (b.parent_id = a.classify_id)
           where a.classify_level = 1 and b.classify_level = 2
           and b.is_delete = 0
           order by a.create_time desc
    </select>

    <!--查询该一级分类下拉二级分类的数量-->
    <select id="countTwoClassify" parameterType="java.lang.String" resultType="int">
        select count(classify_id)
        from classify
        where parent_id= #{classifyId}
        and is_delete = 0
    </select>



    <!--删除商品分类-->
    <update id="classifyDelete" parameterType="com.xzsd.pc.classify.entity.ClassifyData">
        update classify set
            is_delete = 1,
            update_by = #{updateBy},
            update_time = now(),
            version = version + 1
        where version = #{version}
        and classify_id = #{classifyId}
         and is_delete = 0
    </update>
</mapper>